<main class="flex flex-col h-screen">

  <!-- header -->
  <header class="h-16 flex items-center justify-between px-4 bg-green-700">
    <div>
      Header
    </div>
  </header>

  <!-- table  and title-->
   <Main class="flex-1 bg-red-700 overflow-auto">

    <div>
      Monster Energy Dashboard
    </div> 
     <div id="table" >
       <h2 class="text-5xl font-bold">Table and Title</h2>
     </div>
   </Main>

  <!-- footer: -->
  <footer class="h-16 flex items-center px-5 bg-purple-300">
<div>
  Footer
</div>
</footer>
</main>